.idea/
.gradle/
.settings
.project
.classpath
ant_output
**/build
**/node_modules
*.iws
*.ipr
*.iml
.toDelete
**/generatedsources
**/out
.shelf
cliffer/clifferng/src/c/cliffer/jpcap_JpcapCaptor.h
cliffer/clifferng/src/c/cliffer/jpcap_JpcapCaptorV2.h
cliffer/clifferng/src/c/cliffer/jpcap_JpcapSender.h
clingine/clistat/conf/elasticsearch/ftsGlobalHitsFilter.json
clingine/clistat/conf/elasticsearch/elasticClingine.properties
*.orig
/target/
integration.tests.logfile.log
crawler/node_modules
crawler/logs
crawler/output
crawler/work
crawler/.nyc_output
*.tests.logfile.log
*.tests-common.logfile.log
